// table //
table {
    border-collapse: separate;
    border-spacing: 0;
    color: $color-burgundy;
    width: $max-width;
}

th,
td {
    padding: 10px 15px;
    vertical-align: middle;
    border-right: 1px solid $color-burgundy;
    border-bottom: 1px solid $color-burgundy;
    user-select: none;
}

th {
    position: sticky;
    top: 88px;
    border-bottom: 3px solid $color-burgundy;
    background: $color-lightYellow;
}

thead {
    position: sticky;
    top: 0px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

td {
    border-bottom: 1px solid $color-burgundy;
    border-right: 1px solid $color-burgundy;
    text-align: center;
    //background: $color-lightYellow;
    font-size: 16px;
    font-weight: $font-weight-medium;
    padding-top: 8px;
    padding-bottom: 4px;
}

tbody > tr {
    background: $color-beige;

    &:hover {
        background: $color-lightYellow;
    }
}


.scrollable {
    white-space: nowrap;
}

// table //


// drop down select (not being used rn) //
select {
    display: block;
    height: 25px;
    width: 100px;
    margin: auto;
    outline: none;
    color: $color-burgundy;
    border: 2px solid $color-burgundy;
    border-radius: 8px;
    background: $color-white;
    text-align: justify;
    margin-top: 4px;
}

.selected {
    background: $color-lightYellow;
}

.select-items {
    background-color: $color-white;
    font-weight: $font-weight-large;
}

// drop down select (not being used rn) //

// duck table styling //
.tableContainer {
    //height: 100vh;
    width: 100vw;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    //
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #400000;
        border-radius: 10px;
        border: transparent;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }

    scrollbar-color: #400000 transparent;
}

.columnTitle {
    text-decoration: underline;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    display: inline;
}

.duckTable {
    display: flex;
    width: $max-width;
    border-bottom: 2px solid $color-burgundy;
    white-space: nowrap;
}

.duckImage {
    width: 117px;
    height: 117px;
    border-radius: 8px;
    border: 2px solid $color-burgundy;
    box-sizing: border-box;
    flex-shrink: 0;
    transition: all .1s;
}

.duckButtonIcon {
    width: 30px;
    height: 30px;
}

.arrowIcon {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
}

.duckLabel {
    margin: 2px;
}

.sortableTableHeader {
    display: inline-flex;
    margin: 0px;
}

.id {
    &.sortableTableHeader {
        padding-left: 16px;
        position: absolute;
        padding-top: 7px;
    }
}

.egg {
    &.sortableTableHeader {
        position: absolute;
        padding-top: 22px;
        @include respond-to('medium') {
            padding-left: 2px;
        }

        @include respond-to('small') {
            padding-left: 2px;
        }
    }
}

.seed {
    &.sortableTableHeader {
        position: absolute;
        padding-top: 22px;

        @include respond-to('medium') {
            padding-left: 2px;
        }

        @include respond-to('small') {
            padding-left: 2px;
        }
    }
}

.chest {
    &.sortableTableHeader {
        position: absolute;
        padding-top: 22px;

        @include respond-to('medium') {
            padding-left: 2px;
        }

        @include respond-to('small') {
            padding-left: 2px;
        }
    }
}

.traitIcon {
    width: 60px;
    height: 60px;
}

.bpIcon {
    width: 60px;
    height: 60px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid $color-burgundy;
}

.helpMe {
    padding-right: 40px;
}

// duck table styling //