// gloabls
* {
    cursor: url("../../public/img/strawberyyCursor.svg"), auto
}

a {
    &:link {
        color: $color-burgundy;
    }

    &:visited {
        color: $color-burgundy;
    }

    &:hover {
        color: $color-burgundy;
    }

    &:active {
        color: $color-burgundy;
    }
}

input {
    background: $color-white;
    border-radius: 10px;
    border: 2px solid $color-burgundy;
    margin: 0 auto;
    margin-right: 10px;
    display: flex;
    max-width: 300px;
    box-sizing: border-box;
    padding: 10px 12px;
    font-size: 20px;

    &:focus {
        outline: none
    }
}

// body
.mainContainer {
    margin: auto;
    font-family: $font-text;
    color: $color-burgundy;
    background: $color-lightYellow;
    text-align: center;
    font-size: 24px;
    width: $max-width;
    overflow: scroll;
    overflow-y: overlay;
    height: 100vh;

    &::-webkit-scrollbar {
        z-index: 2;
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-burgundy;
        border-radius: 10px;
        border: transparent;

        &:horizontal {
            visibility: hidden;
        }
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

body {
    overflow: hidden;
}

//buttons
.button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 22px 26px;
    font-family: $font-button;
    margin: 10px 12px;
    font-weight: $font-weight-medium;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid $color-burgundy;
    box-shadow: inset 0 -6px $color-box;
    transition: all .05s;
    display: block;
    align-items: center;
    justify-content: center;
    height: 62px;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.small {
        height: auto;
        padding: 10px 12px;
        box-shadow: inset 0 -6px $color-box;
        margin: 6px;
        font-size: 14px;
        height: 40px;
    }

    &:hover {
        transform: translateY(-5px);
    }

    &:active {
        box-shadow: inset 0 0px $color-box;
        padding: 16px 30px 12px;
        background: $color-white;
    }

    &.row {
        margin-top: 12px;
        margin-right: 2px;
        display: flex;

        @include respond-to('medium') {
		margin-top: 16px;
	  }

      @include respond-to('small') {
		margin-top: 20px;
	  }

    }

    &.red {
        background: $color-red;
        color: $color-white;
    }

    &.orange {
        background: $color-orange;
        color: $color-white;
    }

    &.yellow {
        background: $color-yellow;
        color: $color-burgundy;
    }

    &.teal {
        background: $color-teal;
        color: $color-burgundy;
    }

    &.pink {
        background: $color-pink;
        color: $color-burgundy;
    }

    &.purple {
        background: $color-purple;
        color: $color-burgundy;
    }

    &.green {
        background: $color-green;
        color: $color-burgundy;
    }

    &.cotton {
        background: $color-cotton;
        color: $color-burgundy;
    }

    &.lightPurple {
        background: $color-lightPurple;
        color: $color-burgundy;
    }

    &-skyBlue {
        background: $color-skyBlue;
        color: $color-burgundy;
    }

    &.grey {
        background: $color-grey;
        color: $color-burgundy;

        &.svg {
            border: none;
            background: none;
            cursor: pointer;
            display: inline-block;
            box-shadow: none;
            padding: 0;
            margin: 0;
            padding-left: 10px;
            height: 0;
            transition: none;
        }
    }

    @include respond-to('medium') {
		height: auto;
        padding: 16px 22px;
        box-shadow: inset 0 -6px $color-box;
        margin: 6px;
        font-size: 14px;
        height: 55px;
	  }

    @include respond-to('small') {
		height: auto;
        padding: 14px 18px;
        box-shadow: inset 0 -6px $color-box;
        margin: 6px;
        font-size: 14px;
        height: 50px;
	  }
}