// fonts //
$font-button: "Syncopate";
$font-text: "Readex Pro";
$font-weight-small: 500;
$font-weight-medium: 700;
$font-weight-large: 800;

// general site colors //
$color-white: #f7f2f2;
$color-burgundy: #400000;
$color-lightYellow: #FFFBC1;
$color-beige: #FFFCDB;
$color-yellow: #FFE233;
$color-box: rgba(64, 0, 0, .1);

// button colors //
$color-red: #FF426E;
$color-orange: #FF7533;
$color-teal: #5EDBC4;
$color-pink: #FF7EA7;
$color-purple: #643188;
$color-green: #CCE675;
$color-cotton: #8081ff;
$color-lightPurple: #C594FF;
$color-skyBlue: #81D8FF;
$color-grey: #C4C4C4;

// general //
$max-width: 100%;
$max-height: 100%;

// breakpoints //
$breakpoints: (
    'small':  ( max-width:  520px ),
    'medium': ( max-width:  950px ),
    'large':  ( max-width: 1000px )
) !default;

